.header {
  background-color: rgb(17, 17, 17);
  padding: 25px 50px;
  font-size: 20px;
  font-weight: 600;
}


.ul {
  display: flex;
  justify-content: space-around;
  list-style-type:none;

}

.li {
      text-decoration: none;
}